[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
email-validator = "*"
python-multipart = "*"
cloudinary = "*"
slowapi = "*"
python-jwt = "*"
redis = "*"
fastapi-mail = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
